---
layout: default
title: RPA - school performance
page_name: School Performance
class: schools
---
{% include navbar.html%}

<div class="content">
  <div class="map">
    <div id="schoolPerf" class="mapInner"></div>
    <div id="layer_selector" class="cartodb-infobox">
      <ul>
        <li data-sublayer="median_income" class="active">
          Median Income
        </li>
        <li data-sublayer="race">
          Race
        </li>
      </ul>
    </div>

  </div>

</div>

{% include footer.html %}
