---
layout: default
title: RPA - vulnerable infrastructure
map_name: Infrastructure Susceptibility
class: vulnerable
---
{% include navbar.html %}

<div class="content">
  <div class="map">
    <div id="vulnerableInfra" class="mapInner"></div>
    <div id="layer_selector" class="cartodb-infobox">
      <ul>
        <li data-sublayer="power_plants" class="active">
          Power plants
        </li>
        <li data-sublayer="hospitals" class="active">
          Hospitals
        </li>
        <li data-sublayer="nursing_homes" class="active">
          Nursing homes
        </li>
        <li data-sublayer="public_housing" class="active">
          Public housing
        </li>
        <li data-sublayer=["rail_lines","train_stations"] class="active">
          Rail lines and train stations
        </li>
        <li data-sublayer=["subway_stations","subway_routes"] class="active">
          Subway routes and stations
        </li>
        <li data-sublayer="flood_zone" class="active">
          Flood zone
        </li>
      </ul>
    </div>
  </div>

</div>

{% include footer.html %}