---
layout: default
title: RPA - vulnerable infrastructure
page_name: Infrastructure Susceptibility
class: vulnerable
---
{% include navbar.html %}

<div class="content">
  <div class="map">
    <div id="vulnerableInfra" class="mapInner"></div>
    <div id="layer_selector" class="cartodb-infobox">
      <ul>
        <li data-sublayer="All" class="active">
          All
        </li>
        <li data-sublayer="power_plants">
          Power plants
        </li>
        <li data-sublayer="hospitals">
          Hospitals
        </li>
        <li data-sublayer="nursing_homes">
          Nursing homes
        </li>
        <li data-sublayer="public_housing">
          Public housing
        </li>
        <li data-sublayer=["rail_lines","train_stations"]>
          Rail lines and train stations
        </li>
        <li data-sublayer=["subway_stations","subway_routes"]>
          Subway routes and stations
        </li>
        <li data-sublayer="flood_zone">
          Flood zone
        </li>
      </ul>
    </div>
  </div>

</div>

{% include footer.html %}