@mixin shared-borders {
  border:solid 1px rgba(0, 0, 0,0.1);
  @include border-left-radius(5px);
  @include border-right-radius(5px);
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  box-shadow: 1px 1px 6px rgba(0, 0, 0,0.1);
}
@mixin shared {
  .title-case{
    border-bottom: solid 1px $gray;
    padding-bottom:5px;
    margin-top:0;
  }
  $food: #2fb0c4;
  $goods: #3f4040;
  $services: #695b94;
  $transport: #f9b314;
  $housing: #eb0000;
  $total: #008000;

  .tooltip-legend{
    & > div{
      float:left;
      margin-right:29px;
      &:before{
        content:"•";
        font-size:1.8em;
        line-height: 1em;
        position: relative;
        top: 4px;
        left: -1px;
      }
      &.food:before{color:$food;}
      &.goods:before{color:$goods;}
      &.services:before{color:$services;}
      &.transport:before{color:$transport;}
      &.housing:before{color:$housing;}
      &.total:before{color:$total;}
    }
  }
}
@mixin windowfix($width:545px, $height: 600px) {
  width:$width !important;
  max-width:$width !important;
  height:$height !important;
  max-height:$height !important;
  background:white;
  overflow:visible;
}
  

@mixin popup($infowindow_width: 397.5px, $infowindow_height: $infowindow_width/2 + 10px) {

  // INFOWINDOW

  // $infowindow_width: 530px * 3/4;
  // $infowindow_height: $infowindow_width/2 + 10px;

  $blue: #47b3d2;         // disp_income
  $reddish: #f12b15;      // trans
  $brown: #b92b15;        // housing
  $dark_brown: #7c2b15;   // taxes

  div.cartodb-infowindow{
    width: $infowindow_width !important;
    height: $infowindow_height !important;
    max-height: $infowindow_height !important;

    .leftColumn{
      float:left;
      width:205px;
      font-size:0.7em;
      & > div:before{
        content: '\00B7';
        padding-right: 5px;
        font-size: 42px;
        line-height: 10px;
        float:left;
        margin-top:3px;
        height:24px;
      }

      & > .discretionary:before{
        color: $blue;
      }
      & > .trans:before{
        color: $reddish;
      }
      & > .housing:before{
        color: $brown;
      }
      & > .taxes:before{
        color: $dark_brown;
      }
    }
    .rightColumn{
      float:left;
      position:relative;
      width:143px;
      #donut{
        cursor: crosshair;
      }
    }
    .mhi{
      position: absolute;
      left: 43px;
      z-index: 99;
      top: 36px;
      font-size: 0.8em;
    }
    a.cartodb-popup-close-button{
      top: 18px;
      right:13px;

    }



    div.cartodb-popup{

      // Bubble triangle
      &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 5%;
        bottom: -15px;
        border: 15px solid;
        border-color: #fff transparent transparent #fff;
      }
    }
  }
  div.cartodb-popup{
    width:$infowindow_width;
    height: $infowindow_height !important;
    max-height: $infowindow_height !important;
    background: white;
    max-width:$infowindow_width;
    padding:0;

    div.cartodb-popup-tip-container{
      display:none;
    }


    div.cartodb-popup-content-wrapper{
      width:$infowindow_width;
      height: $infowindow_height !important;
      max-height: $infowindow_height !important;
      background: white;
      max-width:$infowindow_width;
      overflow: hidden;

      @include border-left-radius(5px);
      @include border-right-radius(5px);
      @include border-top-radius(5px);
      @include border-bottom-radius(5px);

      box-shadow: 1px 1px 6px black;

      .cartodb-popup-content{
        overflow:hidden;
      }
      .cartodb-popup-content, .jspContainer, .jspPane{
        width:$infowindow_width - 60px !important;
        max-width:$infowindow_width;
        height: $infowindow_height !important;
        max-height: $infowindow_height !important;
      }
      .jspPane {
        font-size: 1.2em;
        & > div, & > h2{
          padding-left:3px;
        }
      }
      .jspVerticalBar{display:none;}

      .title{
        border-bottom: solid 1px #ccc;
        margin-bottom:10px;
        line-height:0.9em;
        h2, h3{
          margin:0;
        }
      }
    }
  }
}
