---
layout: default
title: RPA - part 5
page_name: STATE OF THE REGION
class: ch2
---
{% include navbar.html %}

<div class="site">
  <div class="jumbotron">
    <div class="hero container">
      <div class="title-group">
        <nav class="hero-nav">
          <a class="fa fa-caret-left prev" href="javascript:;"></a>
          CHAPTER 5
          <a class="fa fa-caret-right next" href="javascript:;"></a>
        </nav>
        <h1 class="ch-title">It's expensive to live here</h1>
      </div>
    </div>

  </div>
  <div class="intro">
    <div class="container">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 item">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 item">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
        <img src="{{site.root}}/images/ch2/graph-1.jpg"/>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 item">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
        <img src="{{site.root}}/images/ch2/graph-2.jpg"/>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 item">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <div class="map">
    <div id="discretionaryIncome" class="mapInner"></div>
    <div class="please_zoom_in">Zoom in to the map to see neighborhood level data.</div>
  </div>

</div>
{% include bottomNav.html %}{% include footer.html %}
