<nav class="bottom-nav">
  <div class="container">
    <div class="row">
      <a class="prev nav-btn col-lg-5" href="javascript:;">
        <div class="btn-label">Previous Chapter</div>
        <div class="ch-name">
          <span class="fa fa-chevron-left"></span>
          A Fading Suburban Dream
        </div>
      </a>
      <a class="next nav-btn col-lg-5" href="javascript:;">
        <div class="btn-label">Next Chapter</div>
        <div class="ch-name">
          A More Vulnerable Region
          <span class="fa fa-chevron-right"></span>
        </div>
      </a>
    </div>
  </div>
</nav>
