@mixin shared-borders {
  border:solid 1px rgba(0, 0, 0,0.1);
  @include border-left-radius(5px);
  @include border-right-radius(5px);
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  box-shadow: 1px 1px 6px rgba(0, 0, 0,0.1);
}
@mixin shared {
  .title-case{
    border-bottom: solid 1px $gray;
    padding-bottom:5px;
    margin-top:0;
  }
  $food: #2fb0c4;
  $goods: #3f4040;
  $services: #695b94;
  $transport: #f9b314;
  $housing: #eb0000;
  $total: #008000;

  .tooltip-legend{
    & > div{
      float:left;
      margin-right:29px;
      &:before{
        content:"•";
        font-size:1.8em;
        line-height: 1em;
        position: relative;
        top: 4px;
        left: -1px;
      }
      &.food:before{color:$food;}
      &.goods:before{color:$goods;}
      &.services:before{color:$services;}
      &.transport:before{color:$transport;}
      &.housing:before{color:$housing;}
      &.total:before{color:$total;}
    }
  }
}
@mixin windowfix($width:545px, $height: 600px) {
  width:$width !important;
  max-width:$width !important;
  height:$height !important;
  max-height:$height !important;
  background:white;
  overflow:visible;
}

.page.carbon{
  .x.axis{
    .tick{font-size:10px;}
  }
  .progressive, .progressive-region{position:relative;left:-5px;}
  .cartodb-infowindow{
    width:560px !important;
    max-width:560px !important;
    @include shared();

    .cartodb-popup-tip-container{
      position:absolute;
      left: -4px;
      bottom: -17px;
    }
    .cartodb-popup{
      @include windowfix(545px, 275px);
      @include shared-borders();
      .cartodb-popup-content-wrapper{
        @include windowfix(530px, 260px);
        overflow:hidden;
        .cartodb-popup-content{
          @include windowfix(510px, 260px);
          overflow:visible !important;
          .jspContainer{
            @include windowfix(510px, 260px);
            .jspVerticalBar{display:none !important;}
            .jspPane{
              @include windowfix(510px, 260px);
            }
          }
        }
      }
    }
  }
  .cartodb-tooltip{
    background-color:white;
    @include shared-borders();



    padding:20px 20px;
    width:545px;

    @include shared();

  }

}