@import "../partials/utilities";
  
.page.carbon{
  #layer_selector{
    position:absolute;
    left: 10px;
    bottom:10px;
    padding:0;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        cursor:pointer;
        padding: 5px 10px;
        display:block;
        width:100%;
        text-decoration:none;
        &.active{
          background: rgba(0,0,0,0.1);
        }
      }
    }
  }

  .x.axis{
    .tick{font-size:10px;}
  }
  .progressive, .progressive-region{position:relative;left:-5px;}
  .progressive + b {
    position:relative;
    top:-79px;
  }
  .cartodb-infowindow{
    width:560px !important;
    max-width:560px !important;
    @include shared();

    .cartodb-popup-tip-container{
      position:absolute;
      left: -4px;
      bottom: -17px;
    }
    .cartodb-popup{
      @include windowfix(545px, 275px);
      @include shared-borders();
      .cartodb-popup-content-wrapper{
        @include windowfix(530px, 260px);
        overflow:hidden;
        .cartodb-popup-content{
          @include windowfix(510px, 260px);
          overflow:visible !important;
          .jspContainer{
            @include windowfix(510px, 260px);
            .jspVerticalBar{display:none !important;}
            .jspPane{
              @include windowfix(510px, 260px);
            }
          }
        }
      }
    }
  }
  .cartodb-tooltip{
    background-color:white;
    @include shared-borders();



    padding:20px 20px;
    width:545px;

    @include shared();

  }

}