@import "../partials/utilities";

.page.walkability{

  .walkability-title{
    margin-bottom:10px;
    border-bottom:solid 1px $gray-light;
  }
  .progress{
    height:10px;
    border-radius:0;
    margin-bottom:7px;
  }
  @include shared();
  .cartodb-popup, .cartodb-popup-content-wrapper{
    background-image:none;
    p{font-size:15px;}
  }

  .cartodb-infowindow{
    width:560px !important;
    max-width:560px !important;
    @include shared();

    .walkability-title{
      b{font-size:1.3em;margin-bottom:5px;display:inline-block;}
    }

    .cartodb-popup-tip-container{
      position:absolute;
      left: -4px;
      bottom: -17px;
    }
    .cartodb-popup{
      border:solid 3px rgba(0,0,0,0.2);
    }

    $width:375px;
    $height:275px;

    .cartodb-popup{
      @include windowfix($width, $height);
      @include shared-borders();
      .cartodb-popup-content-wrapper{
        @include windowfix($width - 15px, $height - 15px);
        overflow:hidden;
        .cartodb-popup-content{
          @include windowfix($width - 35px, $height - 15px);
          overflow:visible !important;
          .jspContainer{
            @include windowfix($width - 40px, $height - 15px);
            .jspVerticalBar{display:none !important;}
            .jspPane{
              @include windowfix($width - 40px, $height - 15px);
            }
          }
        }
      }
    }
  }


  .cartodb-tooltip{
    background-color:white;
    @include shared-borders();

    // padding:20px 20px;
    border:solid 3px rgba(0,0,0,0.2);
    $tooltipWidth:345px;
    $tooltipHeight:150px;
    width:$tooltipWidth;

    // .property-tax{
    //   border-top:solid 1px $gray-light;
    //   padding-top:10px;
    //   margin-top:10px;
    //   &:before{
    //     content:" ";
    //     width:10px;
    //     height:10px;
    //     background-color:#00b6d5;
    //     display:block;
    //     float:left;
    //     margin-top:3px;
    //     margin-right:5px;
    //   };
    // }

    .cartodb-popup{
      @include windowfix($tooltipWidth, $tooltipHeight);
      @include shared-borders();
      .cartodb-popup-content-wrapper{
        @include windowfix($tooltipWidth - 15px, $tooltipHeight - 15px);
        overflow:hidden;
        .cartodb-popup-content{
          @include windowfix($tooltipWidth - 35px, $tooltipHeight - 15px);
          overflow:visible !important;
          .jspContainer{
            @include windowfix($tooltipWidth - 40px, $tooltipHeight - 15px);
            .jspVerticalBar{display:none !important;}
            .jspPane{
              @include windowfix($tooltipWidth - 40px, $tooltipHeight - 15px);
            }
          }
        }
      }
    }
  }


}