@mixin create-legend-colors($target-color){
  $i:1;
  @each $color in lighten($target-color,20%), lighten($target-color,10%), $target-color {
    div:nth-child(#{$i}):before{
      background-color: $color;
    }
    $i: $i + 1;
  }
}
#carbon{
  .cartodb-legend{
    // Income colors
    $color0: #008000;
    $color1: #f9b314;
    $color2: #eb0000;
    $color3: #2fb0c4;
    $color4: #3f4040;
    $color5: #695b94;

    $i:1;
    &.cartodb-legend > div{
      @while $i < 4 {
        div:nth-child(#{$i}){
          @include clearfix();
          margin-bottom:10px;
        }
        div:nth-child(#{$i}):before{
          content:"";
          height:20px;
          width:20px;
          display: block;
          float: left;
          margin: -2px 4px 0 0;
        }
        $i: $i + 1;
      }
    }
    &.total-layer{@include create-legend-colors($color0);}
    &.transport-layer{@include create-legend-colors($color1);}
    &.housing-layer{@include create-legend-colors($color2);}
    &.food-layer{@include create-legend-colors($color3);}
    &.goods-layer{@include create-legend-colors($color4);}
    &.services-layer{@include create-legend-colors($color5);}
  }

}