#discretionaryIncome{
  // LEGEND
  div.cartodb-legend.custom{
    width:150px;
    h5{
      margin-top:0;
      font-weight:bold;
      font-size:1em;
    }

    li.graph{
      height:120px;
      border:none;
    }
    div.colors{
      div.quartile{
        display:block;
        margin-bottom:1px;
        height:20px;
        width:20px;
        &:after{
          width: 150px;
          float: left;
          display: block;
          margin: 5px 0 0 25px;
          text-transform:lowercase;
        }
      }
    }
    $i:1;
    $blue1: #0b6087 "$40,000 and over";
    $blue2: #1689ae "$32,001 - $40,000";
    $blue3: #4cb3d1 "$24,001 - $32,000";
    $blue4: #82d5e7 "$16,001 - $24,000";
    $blue5: #b7ebf2 "$16,000 and under";
    $col_text: $blue1, $blue2, $blue3, $blue4, $blue5;
    @each $value in $col_text {
      .col#{$i}{
        background-color:nth($value,1);
        &:after{
          content:nth($value,2);
        }
      }
      $i: $i + 1;
    }

  }
  $infowindow_width: 427.5px;
  @include popup($infowindow_width, $infowindow_width/2 + 20px);

}