@import "../partials/utilities";

#property{
  $color1: #f3c0b5;
  $color2: #e8947f;
  $color3: #d36546;
  $color4: #b02b04;
  $color5: #892300;

  .property-legend{
    $i:1;
    .items{
      @each $color in $color1, $color2, $color3, $color4, $color5 {
        p:nth-child(#{$i}):before{
          content:"";
          height:20px;
          width:20px;
          background-color: $color;

          display: block;
          float: left;
          margin: -2px 4px 0 0;
        }
        $i: $i + 1;
      }
    }
  }



  .cartodb-tooltip{
    background-color:white;
    @include shared-borders();



    // padding:20px 20px;
    border:solid 3px rgba(0,0,0,0.2);
    width:345px;

    .property-tax{
      border-top:solid 1px $gray-light;
      padding-top:10px;
      margin-top:10px;
      &:before{
        content:" ";
        width:10px;
        height:10px;
        display:block;
        float:left;
        margin-top:3px;
        margin-right:5px;
      };
    }

    #color1{
      &:before{
        background-color: $color1;
      }
    }
    #color2{
      &:before{
        background-color: $color2;
      }
    }
    #color3{
      &:before{
        background-color: $color3;
      }
    }
    #color4{
      &:before{
        background-color: $color4;
      }
    }
    #color5{
      &:before{
        background-color: $color5;
      }
    }

    @include shared();
    .cartodb-popup, .cartodb-popup-content-wrapper{
      background-image:none;
    }
  }


}