@import "../partials/utilities";

#property{
  .property-legend{
    // Income colors
    $color1: #2C7FB8;
    $color2: #7FCDBB;
    $color3: #EDF8B1;

    $i:1;
    .items{
      @each $color in $color1, $color2, $color3 {
        p:nth-child(#{$i}):before{
          content:"";
          height:20px;
          width:20px;
          background-color: $color;

          display: block;
          float: left;
          margin: -2px 4px 0 0;
        }
        $i: $i + 1;
      }
    }
  }



  .cartodb-tooltip{
    background-color:white;
    @include shared-borders();



    // padding:20px 20px;
    border:solid 3px rgba(0,0,0,0.2);
    width:345px;

    .property-tax{
      border-top:solid 1px $gray-light;
      padding-top:10px;
      margin-top:10px;
      &:before{
        content:" ";
        width:10px;
        height:10px;
        background-color:#00b6d5;
        display:block;
        float:left;
        margin-top:3px;
        margin-right:5px;
      };
    }
    @include shared();
    .cartodb-popup, .cartodb-popup-content-wrapper{
      background-image:none;
    }
  }


}